table {
  width: 1000px;
  height: 400px;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  font-size: 1.5rem;
  color: white;
  border-bottom: 1px solid #ddd;
}
.tdButton {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  background-color: #04AA6D;
}

@media screen and (max-width: 750px) {
  table {
    width: 100%;
  }
  .tdButton {
    font-size: 1rem;
  }
  th, td {
    font-size: 1rem;
    display: block;
    width: 100%;
  }
}