table {
  margin-bottom: 150px;
  border: 5px solid black;
	width: 1000px;
	height: 100px;
}
.tableHead {
  height: 30px;
  background-color: #04AA6D;
}
.trBody:nth-child(even){
  height: 50px;
  background-color: #5b52ad;
}

.trBody:nth-child(odd) {
  height: 50px;
  background-color:#453e83;
}

th {
  font-size: 22px;
  color: white;
}

td {
  height: 60px;
  color: white;
  font-size: 20px;
	text-align: center;
}

.tdButton {
  color: white;
  font-size: 20px;
  background-color: #04AA6D;
  min-height: 100%;
  min-width: 100%;

}

