.containers {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.react {width: 55%; background-color: #04AA6D;} /* Green */
.css {width: 5%; background-color: #2196F3;} /* Blue */
.js {width: 35%; background-color: #f44336;} /* Red */
.other {width: 5%; background-color: #808080; margin-bottom: 150px;} /* grey */

.pskills {
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .containers {
    width: 90%;
  }
}